.ytp-scrubber-container {
    pointer-events: none;
}



.__youtube-timestamps__bar {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: scaleX(1);
    z-index: 35;
}

.__youtube-timestamps__stamp {
    height: 100%;
    min-width: 3px;
    max-width: 5px;
    width: 0.5%;
    position: fixed;
    background-color: white;
}

.__youtube-timestamps__preview-wrapper {
    position: relative;
    left: 50%;
}

.__youtube-timestamps__preview {
    position: absolute;
    overflow: hidden;
    background-color: white;
    bottom: 10px;
    box-sizing: border-box;
    padding: 8px;
}

.__youtube-timestamps__preview__author {
    display: flex;
    align-items: center;
}

.__youtube-timestamps__preview__avatar {
    width: 16px;
    height: 16px;
}

.__youtube-timestamps__preview__name {
    /* From YT */
    color: #030303;
    font-size: 13px;/* was 1.3rem */
    font-weight: 500;
    line-height: 18px;/* was 1.8rem */

    margin-left: 8px;
}

.__youtube-timestamps__preview__text {
    /* From YT */
    color: #030303;
    font-size: 14px;/* was 1.4rem */
    font-weight: 400;
    letter-spacing: normal;
    line-height: 20px;/* was 2rem */

    margin-top: 8px;
    white-space: pre-line;
}

.__youtube-timestamps__preview__text-stamp {
    color: #065fd4;
}

@media (prefers-color-scheme: dark) {
    .__youtube-timestamps__preview {
        background-color: #181818;
    }

    .__youtube-timestamps__preview__name {
        color: white;
    }

    .__youtube-timestamps__preview__text {
        color: white;
    }

    .__youtube-timestamps__preview__text-stamp {
        color: #3ea6ff;
    }
}
