.__youtube-timestamps__bar {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: scaleX(1);
    z-index: 35;
}

.__youtube-timestamps__stamp {
    height: 100%;
    min-width: 3px;
    max-width: 5px;
    width: 0.5%;
    position: fixed;
    background-color: white;
}

.__youtube-timestamps__preview-wrapper {
    position: relative;
    left: 50%;
}

.__youtube-timestamps__preview {
    position: absolute;
    background-color: white;
    bottom: 8px;
    box-sizing: border-box;
    padding: 8px;
}

.__youtube-timestamps__preview__author {
    display: flex;
    align-items: center;
}

.__youtube-timestamps__preview__avatar {
    width: 16px;
    height: 16px;
}

.__youtube-timestamps__preview__name {
    margin-left: 8px;
    font-size: 1.3rem;
    font-weight: 500;
    color: rgb(17, 17, 17);
}

.__youtube-timestamps__preview__text {
    margin-top: 8px;
    font-size: 1.4rem;
    font-weight: 400;
    color: rgb(17, 17, 17);
    white-space: pre-line;
}

.__youtube-timestamps__preview__text-stamp {
    color: rgb(6, 95, 212);
}