.__youtube-timestamps__bar {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: scaleX(1);
    z-index: 35;
}

.__youtube-timestamps__stamp {
    height: 100%;
    min-width: 3px;
    max-width: 5px;
    width: 0.5%;
    position: fixed;
    background-color: white;
}

.__youtube-timestamps__preview-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.__youtube-timestamps__preview {
    position: absolute;
    background-color: white;
    bottom: 4px;
    width: 160px;
}

.__youtube-timestamps__preview__author {
    display: flex;
    align-items: center;
    padding: 2px;
}

.__youtube-timestamps__preview__avatar {
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

.__youtube-timestamps__preview__name {
    font-size: 1.3rem;
    font-weight: 500;
    color: rgb(17, 17, 17);
}

.__youtube-timestamps__preview__text {
    padding: 2px;
    font-size: 1.4rem;
    font-weight: 400;
    color: rgb(17, 17, 17);
}

.__youtube-timestamps__preview__text-stamp {
    color: rgb(6, 95, 212);
}